# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
.venv/
ai-synthor/venv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Test/coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/ 